# --- Ambientes Virtuais e Dependências (Python) ---
venv/
.venv/
env/
.env/
*.egg-info/

# --- Arquivos de Cache e Compilados (Python) ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Jupyter Notebook ---
.ipynb_checkpoints/

# --- Arquivos de Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Arquivos de IDEs e Editores de Código ---
.vscode/
.idea/

# --- ARQUIVOS SENSÍVEIS (MUITO IMPORTANTE) ---
*.env
.env*
credentials.json
config.ini

# --- Logs e Arquivos Gerados ---
*.log
*.parquet

# Ignora os dados gerados pelo pipeline
/data/silver/
/data/gold/

# --- Docker ---
postgres-data/
