services:
  postgres-db:
    image: postgres:14-alpine
    container_name: olist_postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  etl-app:
    build: .
    container_name: olist_etl_app
    depends_on:
      - postgres-db
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - DB_HOST=postgres-db

volumes:
  postgres_data:
    driver: local